################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DroneEngine.Tello.State/.vs/DroneEngine.Tello/v16
/DroneEngine.Tello.State/Debug
/DroneEngine.Tello.State/DroneEngine.Tello/Debug
/DroneEngine.Tello.Command/.vs/DroneEngine.Tello.Command/v16
/DroneEngine.Tello.Command/Debug
/DroneEngine.Tello.Command/DroneEngine.Tello.Command/Debug
/DroneEngine.Tello.Command/DroneEngine.Tello.Command/DroneEngine.Tello.Command.vcxproj.filters
/DroneEngine.Tello.Command/DroneEngine.Tello.Command/DroneEngine.Tello.Command.vcxproj.user
/DroneEngine.Tello.Command/DroneEngine.Tello.Command/x64/Debug
/DroneEngine.Tello.Command/x64/Debug
/DroneEngine.Tello.State/DroneEngine.Tello/x64/Debug
/DroneEngine.Tello.State/x64/Debug
