################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DroneEngine.Tello.State/.vs/DroneEngine.Tello/v16
